body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
    border: 2px solid black;
    height: 90vmin;
  }

  #message-container div {
    padding: 5px;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }
  
  #message-input {
    flex-grow: 1;
  }